@model IEnumerable<CRUD_Porject.Models.Publisher>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <h3>Publishers</h3>
        <div class="d-flex justify-content-end mb-1">
            @Html.ActionLink("Add New", "Create", "Publishers", new { }, new { @class = "btn btn-primary btn-sm" })
        </div>
        <table class="table table-bordered table-striped border-success">
            <thead class="text-bg-dark">
                <tr>
                    <th>@Html.DisplayNameFor(x =>x.PublisherName)</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(x =>p.PublisherName)</td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", "Publishers", new { id = p.PublisherID }, new { @class = "btn btn-secondary btn-sm" })
                            <a href="@Url.Action("Delete", "Publishers", new {id=p.PublisherID})" class="btn btn-danger btn-sm @(p.Books.Count > 0 ? "disabled" :"")">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
